<h1>Welcome to Wordle with a Twist</h1>
    <div class="guess-row">
        <div class="form-control">A</div>
        <div class="form-control">B</div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
    </div>
    <div class="guess-row">
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
    </div>
    <div class="guess-row">
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
    </div>
    <div class="guess-row">
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
    </div>
    <div class='keyboard-row'>
        <div class="btn btn-secondary">Q</div>
        <div class="btn btn-secondary">W</div>
        <div class="btn btn-secondary">E</div>
        <div class="btn btn-secondary">R</div>
        <div class="btn btn-secondary">T</div>
        <div class="btn btn-secondary">Y</div>
        <div class="btn btn-secondary">U</div>
        <div class="btn btn-secondary">I</div>
        <div class="btn btn-secondary">O</div>
        <div class="btn btn-secondary">P</div>
    </div>
    <div class='keyboard-row'>
        <div class="btn btn-secondary">A</div>
        <div class="btn btn-secondary">S</div>
        <div class="btn btn-secondary">D</div>
        <div class="btn btn-secondary">F</div>
        <div class="btn btn-secondary">G</div>
        <div class="btn btn-secondary">H</div>
        <div class="btn btn-secondary">J</div>
        <div class="btn btn-secondary">K</div>
        <div class="btn btn-secondary">L</div>
    </div>
    <div class='keyboard-row' >
        <div class="btn btn-secondary">Z</div>
        <div class="btn btn-secondary">X</div>
        <div class="btn btn-secondary">C</div>
        <div class="btn btn-secondary">V</div>
        <div class="btn btn-secondary">B</div>
        <div class="btn btn-secondary">N</div>
        <div class="btn btn-secondary">M</div>
    </div>
    <div class="keyboard-row">
        <div class="btn btn-primary">enter</div>
        <div class="btn btn-danger delete">delete</div>
    </div>