<h1>Welcome to Wordle with a Twist</h1>
    <%= answer %>
    <div class="guess-row">
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
    </div>
    <div class="guess-row">
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
    </div>
    <div class="guess-row">
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
    </div>
    <div class="guess-row">
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
        <div class="form-control"></div>
    </div>
    <form onsubmit="return final_answer()">
        <div class='keyboard-row'>
            <button type="button" class="btn btn-secondary" onclick="input('Q')">Q</button>
            <button type="button" class="btn btn-secondary" onclick="input('W')">W</button>
            <button type="button" class="btn btn-secondary" onclick="input('E')">E</button>
            <button type="button" class="btn btn-secondary" onclick="input('R')">R</button>
            <button type="button" class="btn btn-secondary" onclick="input('T')">T</button>
            <button type="button" class="btn btn-secondary" onclick="input('Y')">Y</button>
            <button type="button" class="btn btn-secondary" onclick="input('U')">U</button>
            <button type="button" class="btn btn-secondary" onclick="input('I')">I</button>
            <button type="button" class="btn btn-secondary" onclick="input('O')">O</button>
            <button type="button" class="btn btn-secondary" onclick="input('P')">P</button>
        </div>
        <div class='keyboard-row'>
            <button type="button" class="btn btn-secondary" onclick="input('A')">A</button>
            <button type="button" class="btn btn-secondary" onclick="input('S')">S</button>
            <button type="button" class="btn btn-secondary" onclick="input('D')">D</button>
            <button type="button" class="btn btn-secondary" onclick="input('F')">F</button>
            <button type="button" class="btn btn-secondary" onclick="input('G')">G</button>
            <button type="button" class="btn btn-secondary" onclick="input('H')">H</button>
            <button type="button" class="btn btn-secondary" onclick="input('J')">J</button>
            <button type="button" class="btn btn-secondary" onclick="input('K')">K</button>
            <button type="button" class="btn btn-secondary" onclick="input('L')">L</button>
        </div>
        <div class='keyboard-row' >
            <button type="button" class="btn btn-secondary" onclick="input('Z')">Z</button>
            <button type="button" class="btn btn-secondary" onclick="input('X')">X</button>
            <button type="button" class="btn btn-secondary" onclick="input('C')">C</button>
            <button type="button" class="btn btn-secondary" onclick="input('V')">V</button>
            <button type="button" class="btn btn-secondary" onclick="input('B')">B</button>
            <button type="button" class="btn btn-secondary" onclick="input('N')">N</button>
            <button type="button" class="btn btn-secondary" onclick="input('M')">M</button>
        </div>
        <div class="keyboard-row">
            <button type="submit" class="btn btn-primary" id="enter">enter</button>
            <button type="button" class="btn btn-danger" onclick="del()">delete</button>
        </div>
    </form>